profiles {
    docker {
        // Run on top of the created Docker pipeline
        process.executor = 'local'
        process.container = ''
        docker.enabled = true
        params.baseDir = ""
    }
    cluster {
        // To be implemented for slurm based clusters
    }

    nexus{
        // To be implemented for DNANexus for using UKBB Data
    }

}