profiles {

    local {
        docker.enabled = true
        docker {
            runOptions = '-u \$(id -u):\$(id -g)'
        }
    }

    slurm {
        process {
            executor = 'slurm'
            container = 'path/to/singularity-image.simg'
        }
    }

    dnanexus {
        process {
            executor = 'dnanexus'
        }
    }
}
